ChakraCore_dll DLLFILE "ChakraCore.dll"
dbexpdb2_dll DLLFILE "dbexpdb2.dll"
dbexpinf_dll DLLFILE "dbexpinf.dll"
dbexpint_dll DLLFILE "dbexpint.dll"
dbexpmss_dll DLLFILE "dbexpmss.dll"
dbexpmys_dll DLLFILE "dbexpmys.dll"
dbexpmysql_dll DLLFILE "dbexpmysql.dll"
dbexpoda_dll DLLFILE "dbexpoda.dll"
dbexpoda41_dll DLLFILE "dbexpoda41.dll"
dbexppgsql_dll DLLFILE "dbexppgsql.dll"
dbexppgsql41_dll DLLFILE "dbexppgsql41.dll"
dbexpsda_dll DLLFILE "dbexpsda.dll"
dbexpsda41_dll DLLFILE "dbexpsda41.dll"
libeay32_dll DLLFILE "libeay32.dll"
libssl32_dll DLLFILE "libssl32.dll"
midas_dll DLLFILE "midas.dll"
msvcr120_dll DLLFILE "msvcr120.dll"
oci_dll DLLFILE "oci.dll"
ociw32_dll DLLFILE "ociw32.dll"
ssleay32_dll DLLFILE "ssleay32.dll"
